$primary-font: "Raleway", serif;
$secondary-font: "Cardo", serif;
$button-color: #FF4343;
$primary-color: #FFFFFF;
$text-color: #6C7279;
$title-color: #2D3033;
$line-color: #BABBC5;
$background-color: #252B49;
$project-background: rgba(255, 67, 67, 0.8);
$footer-background: #353C65;
$secondary-footer-background: #2C3154;
$testimonials-background: #7E5D6F;

@mixin font ($fontSize, $lineHeight, $fontWeight, $color, $fontFamily:$primary-font){
    font-size: $fontSize;
    line-height: $lineHeight;
    font-weight: $fontWeight;
    color: $color;
    font-family: $fontFamily;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1210px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.header{
    background-color: transparent;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;

    @media (max-width:767px) {
        padding: 19px 0;
    }
  

    &__container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

    }

    &__logo{
        width: 183px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width:767px) {
            width: 103px;
        }
    }

    &__line{
        height: 1px;
        width: 100%;
        max-width: 1170px;
        background-color: $line-color;

        @media (max-width:767px) {
            display: none;
        }
}

}

.nav{

    @media (max-width:767px) {
        display: none;
    }

    &__list{
        display: flex;
        column-gap: 4px;
        list-style-type: none;
        align-items: center;
    }

    &__item{
        min-width: 132px;
        text-align: center;

        @media (max-width:1024px) {
            min-width: 96px;
        }
            
        }

    &__link{
        @include font(13px, 15px, 700, $primary-color);
        text-decoration: none;
        text-transform: uppercase;
        padding: 38px 0 35px;
        display: block;

        @media (max-width:1024px) {
            @include font(12px, 14px, 700, $primary-color);
        }
        
    
    &:hover{
        border-bottom: 3px solid #BABBC5;
            }
    
    &:active{
        border-bottom: 3px solid #E71414;
        padding: 40px;
            }
        }
    }  

.banner{
    padding: 230px 0 120px;
    background-image: url(../media/img.png);
    background-position: center;
    background-size: cover;
    position: relative;
    margin-bottom: 116px;

    @media (max-width:1024px) {
        padding: 257px 0 126px; 
        margin-bottom: 78px;
 
    }

    @media (max-width:767px) {
        padding: 106px 0 52px; 
        margin-bottom: 40px;
 
    }

    &::after{
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-color: $background-color;
        opacity: 0.8;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__container{
        position: relative;
        z-index: 1;
    }

    &__title{
        @include font(64px, 75px, 900, $primary-color);
        text-align: center;
        margin-bottom: 31px;
        text-transform: uppercase;

        @media (max-width:1024px) {
            @include font(48px, 56px, 900, $primary-color);
        }

        @media (max-width:767px) {
            @include font(36px, 42px, 900, $primary-color);
        }
    }

    &__text{
        @include font(24px, 28px, 400, $primary-color);
        text-align: center;
        margin: 0 auto 79px;
        max-width: 1000px;

        @media (max-width:1024px) {
            @include font(18px, 21px, 400, $primary-color);
        }
        @media (max-width:1024px) {
            @include font(14px, 16px, 400, $primary-color);
        }
    }

    &__btn{
        background-color: $button-color;
        border: none;
        @include font(24px, 28px, 900, $primary-color);
        text-transform: uppercase;
        padding: 26px;
        display: block;
        max-width: 370px;
        width: 100%;
        margin: 0 auto;

        &:hover{
            background-color: #E71414;
        }

        &:active{
            box-shadow: 4px 4px 30px 0px #FF4343;

        }

        @media (max-width:1024px) {
            max-width: 314px;
        }

        @media (max-width:767px) {
            max-width: 270px;
            padding: 16px;
        }

    }


}

.features{

    margin-bottom: 116px;

    @media (max-width:1024px) {
        margin-bottom: 80px;
    }

    @media (max-width:767px) {
        margin-bottom: 35px;
    }

    
    &__container{
        display: flex;
        flex-wrap: wrap; 
        row-gap: 88px;
        column-gap: 30px;

        @media (max-width:1024px) {
            column-gap: 15px;
            row-gap: 49px;
        }

        @media (max-width:767px) {
            row-gap: 41px;
        }
       
    }

    &__item {
        flex-basis: 370px;

        @media (max-width:1024px) {
            flex-basis: 300px;
        }

        @media (max-width:767px) {
            flex-basis: 100%;
        }
    }
   

    &__wrapper-icon{
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 29px;

        @media (max-width:1024px) {
            width: 85px;
            height: 85px;
            margin: 0 auto 23px;
        }

        @media (max-width:767px) {
            width: 75px;
            height: 75px;
            margin: 0 auto 21px;
        }
    }

    &__title{
        @include font(24px, 28px, 900, $title-color);
        text-align: center;
        margin-bottom: 20px;
        text-transform: uppercase;
        padding: 22px;

        @media (max-width:1024px) {
            @include font(18px, 21px, 900, $title-color);
            margin-bottom: 4px;
        }

        @media (max-width:767px) {
            padding: 17px;
            margin-bottom: 0;
        }
    }

    &__text{
        @include font(18px, 21px, 400, $text-color);
        text-align: center;

        @media (max-width:1024px) {
            @include font(14px, 16px, 400, $text-color);
        }
    }
}







