* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1210px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  background-color: transparent;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
}
@media (max-width: 767px) {
  .header {
    padding: 19px 0;
  }
}
.header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 183px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .header__logo {
    width: 103px;
  }
}
.header__line {
  height: 1px;
  width: 100%;
  max-width: 1170px;
  background-color: #BABBC5;
}
@media (max-width: 767px) {
  .header__line {
    display: none;
  }
}

@media (max-width: 767px) {
  .nav {
    display: none;
  }
}
.nav__list {
  display: flex;
  -moz-column-gap: 4px;
       column-gap: 4px;
  list-style-type: none;
  align-items: center;
}
.nav__item {
  min-width: 132px;
  text-align: center;
}
@media (max-width: 1024px) {
  .nav__item {
    min-width: 96px;
  }
}
.nav__link {
  font-size: 13px;
  line-height: 15px;
  font-weight: 700;
  color: #FFFFFF;
  font-family: "Raleway", serif;
  text-decoration: none;
  text-transform: uppercase;
  padding: 38px 0 35px;
  display: block;
}
@media (max-width: 1024px) {
  .nav__link {
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
    color: #FFFFFF;
    font-family: "Raleway", serif;
  }
}
.nav__link:hover {
  border-bottom: 3px solid #BABBC5;
}
.nav__link:active {
  border-bottom: 3px solid #E71414;
  padding: 40px;
}

.banner {
  padding: 230px 0 120px;
  background-image: url(../media/img.png);
  background-position: center;
  background-size: cover;
  position: relative;
  margin-bottom: 116px;
}
@media (max-width: 1024px) {
  .banner {
    padding: 257px 0 126px;
    margin-bottom: 78px;
  }
}
@media (max-width: 767px) {
  .banner {
    padding: 106px 0 52px;
    margin-bottom: 40px;
  }
}
.banner::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #252B49;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
}
.banner__container {
  position: relative;
  z-index: 1;
}
.banner__title {
  font-size: 64px;
  line-height: 75px;
  font-weight: 900;
  color: #FFFFFF;
  font-family: "Raleway", serif;
  text-align: center;
  margin-bottom: 31px;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .banner__title {
    font-size: 48px;
    line-height: 56px;
    font-weight: 900;
    color: #FFFFFF;
    font-family: "Raleway", serif;
  }
}
@media (max-width: 767px) {
  .banner__title {
    font-size: 36px;
    line-height: 42px;
    font-weight: 900;
    color: #FFFFFF;
    font-family: "Raleway", serif;
  }
}
.banner__text {
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  color: #FFFFFF;
  font-family: "Raleway", serif;
  text-align: center;
  margin: 0 auto 79px;
  max-width: 1000px;
}
@media (max-width: 1024px) {
  .banner__text {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #FFFFFF;
    font-family: "Raleway", serif;
  }
}
@media (max-width: 1024px) {
  .banner__text {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #FFFFFF;
    font-family: "Raleway", serif;
  }
}
.banner__btn {
  background-color: #FF4343;
  border: none;
  font-size: 24px;
  line-height: 28px;
  font-weight: 900;
  color: #FFFFFF;
  font-family: "Raleway", serif;
  text-transform: uppercase;
  padding: 26px;
  display: block;
  max-width: 370px;
  width: 100%;
  margin: 0 auto;
}
.banner__btn:hover {
  background-color: #E71414;
}
.banner__btn:active {
  box-shadow: 4px 4px 30px 0px #FF4343;
}
@media (max-width: 1024px) {
  .banner__btn {
    max-width: 314px;
  }
}
@media (max-width: 767px) {
  .banner__btn {
    max-width: 270px;
    padding: 16px;
  }
}

.features {
  margin-bottom: 116px;
}
@media (max-width: 1024px) {
  .features {
    margin-bottom: 80px;
  }
}
@media (max-width: 767px) {
  .features {
    margin-bottom: 35px;
  }
}
.features__container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 88px;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media (max-width: 1024px) {
  .features__container {
    -moz-column-gap: 15px;
         column-gap: 15px;
    row-gap: 49px;
  }
}
@media (max-width: 767px) {
  .features__container {
    row-gap: 41px;
  }
}
.features__item {
  flex-basis: 31%;
}
@media (max-width: 767px) {
  .features__item {
    flex-basis: 100%;
  }
}
.features__wrapper-icon {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 29px;
}
@media (max-width: 1024px) {
  .features__wrapper-icon {
    width: 85px;
    height: 85px;
    margin: 0 auto 23px;
  }
}
@media (max-width: 767px) {
  .features__wrapper-icon {
    width: 75px;
    height: 75px;
    margin: 0 auto 21px;
  }
}
.features__title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 900;
  color: #2D3033;
  font-family: "Raleway", serif;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  padding: 22px;
}
@media (max-width: 1024px) {
  .features__title {
    font-size: 18px;
    line-height: 21px;
    font-weight: 900;
    color: #2D3033;
    font-family: "Raleway", serif;
    margin-bottom: 4px;
  }
}
@media (max-width: 767px) {
  .features__title {
    padding: 17px;
    margin-bottom: 0;
  }
}
.features__text {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #6C7279;
  font-family: "Raleway", serif;
  text-align: center;
}
@media (max-width: 1024px) {
  .features__text {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #6C7279;
    font-family: "Raleway", serif;
  }
}

.work {
  margin-bottom: 114px;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 1024px) {
  .work {
    margin-bottom: 78px;
  }
}
@media (max-width: 767px) {
  .work {
    margin-bottom: 35px;
  }
}
.work__item {
  width: 25%;
  aspect-ratio: 1/1;
  overflow: hidden;
  position: relative;
}
@media (max-width: 767px) {
  .work__item {
    width: 50%;
  }
}
.work__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.work__title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 900;
  color: #FFFFFF;
  font-family: "Raleway", serif;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .work__title {
    font-size: 18px;
    line-height: 21px;
    font-weight: 900;
    color: #FFFFFF;
    font-family: "Raleway", serif;
  }
}
.work__text {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #FFFFFF;
  font-family: "Raleway", serif;
}
@media (max-width: 1024px) {
  .work__text {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #FFFFFF;
    font-family: "Raleway", serif;
  }
}
.work__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  background-color: rgba(255, 67, 67, 0.8);
  opacity: 0;
}
.work__content:hover {
  opacity: 1;
}
.work__content:active {
  background-color: rgba(185, 12, 12, 0.8);
  opacity: 1;
}

.team__container {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.team__person-card {
  flex-basis: 25%;
}
@media (max-width: 767px) {
  .team__person-card {
    flex-basis: 100%;
  }
}
.team__wrap-img {
  width: 270px;
  height: 270px;
  overflow: hidden;
  margin-bottom: 30px;
}
.team__photo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.team__name {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #2D3033;
  font-family: "Raleway", serif;
  margin-bottom: 5px;
}
.team__post {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #FF4343;
  font-family: "Raleway", serif;
  text-transform: uppercase;
  margin-bottom: 17px;
}
.team__text {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #6C7279;
  font-family: "Raleway", serif;
  margin-bottom: 37px;
}
.team__list {
  display: flex;
  -moz-column-gap: 6px;
       column-gap: 6px;
  list-style-type: none;
}
.team__link {
  width: 39px;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #C6CBCD;
}/*# sourceMappingURL=style.css.map */